* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFDF6;
    margin: 0;
    padding: 0;
    overflow: auto;
}


#logo {
    width: 600px;
    height: auto;
}

/* Styling for the honepage */

.intro {
    text-align: center;
    padding: 90px;
    background-color: #FFFDF6;
    margin-top: -200px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left: -350px;
    
    
}

.intro h3 {
    color: #8B1A50;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-size: 60px;
    
}

.intro h1 {
    color: #372925;
    font-family: 'Arimo' ;
    font-size: 80px;
    
}

.intro p {
    color: #8B1A50;
    font-size: 35px;
}

.login {
    text-align: center;
    margin-left: -395px;  
    padding: 0;
    position: relative;
    z-index: 10;
    
    
}

.login input[type="text"] {
    width: 20%;
    padding: 10px;
    margin: 15px 0;
    border: 2px solid black;
    border-radius: 30px;
    background-color: #FFFDF6;
    font-size: 20px;
}


.login input::placeholder {
    color: black;
    text-align: center;
    font-size: 25px;
}

.login p {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    
}

.login button{
    width: 8%;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 30px;
    border: 2px solid #8B1A50  ;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #8B1A50;

}

.login p a {
    color: #8B1A50;
    font-weight:500;
    text-decoration: none; 
    font-size: 18px;
}
    

.brown-shape-img {
    position: absolute;
    bottom: -60px;
    left: 0;
    z-index: 1;
    
   
}

.brown-shape-img img {
    height: auto;
    display: block;
    margin: 0;
}


.cell-pic {
    position: absolute;
    top: -15px;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 1;
   

}

.cell-pic img {
    max-width: 1350px;
    height: auto;
    display: block;

}
.create-account {
    text-align: center;
    padding-top: -50px;
    margin-top: -200px;


}

/* Styling for the signup page */

.create-account h1 {
    color: #372925;
    font-size: 80px;

}

.create-account p {
    color: #8B1A50;
    font-size: 35px;
}

.signup {
    text-align: center;
    padding: 40px;
    
    
}

.signup label {
    font-size: 35px;
    color: #543A31;
    
}

.signup input {
    width: 25%;
    padding: 10px;
    margin: 8px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 22px;
    
}

.signup button {
    width: 10%;
    padding-bottom: 6px;
    padding-top: 6px;
    margin: 20px;
    border-radius: 30px;
    border: 2px solid #8B1A50  ;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #8B1A50;

}

.signup p {
    font-size: 20px;
    padding: 8px;
   
}

.signup p a {
    color: #8B1A50;
    font-weight:500;
    text-decoration: none; 
    font-size: 18px;

}

/* Styling the product page */

nav {
    margin-top: -225px;
    padding-bottom: 50px;
    
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 80px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #543A31;
    font-size: 16px;
    font-weight: bold;
    
}

.banner {
    
    background-color: #8B1A50;
    width: 100%;
    padding: 8px 0;
    margin: 0px;
    text-align: center;
   
    
}

header p {
   
    text-align: center;
    color: #FFFDF6;
    font-style: italic;
    
}

.products {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
    margin: 0;
    padding: 30px;
   
  
   
    
}


.product-item img {
    margin: 0;
    
}