* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFDF6;
    margin: 0;
    padding: 0;
    overflow: auto;
}


#logo {
    width: 600px;
    height: auto;
}

/* Styling for the honepage */

.intro {
    text-align: center;
    padding: 90px;
    background-color: #FFFDF6;
    margin-top: -200px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left: -350px;
    
    
}

.intro h3 {
    color: #8B1A50;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-size: 60px;
    
}

.intro h1 {
    color: #372925;
    font-family: 'Arimo' ;
    font-size: 80px;
    
}

.intro p {
    color: #8B1A50;
    font-size: 35px;
}

.login {
    text-align: center;
    margin-left: -395px;  
    padding: 0;
    position: relative;
    z-index: 10;
    
    
}

.login input[type="text"] {
    width: 20%;
    padding: 10px;
    margin: 15px 0;
    border: 2px solid black;
    border-radius: 30px;
    background-color: #FFFDF6;
    font-size: 20px;
}


.login input::placeholder {
    color: black;
    text-align: center;
    font-size: 25px;
}

.login p {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    
}

.login button{
    width: 8%;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 30px;
    border: 2px solid #8B1A50  ;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #8B1A50;

}

.login p a {
    color: #8B1A50;
    font-weight:500;
    text-decoration: none; 
    font-size: 18px;
}
    

.brown-shape-img {
    position: absolute;
    bottom: -60px;
    left: 0;
    z-index: 1;
    
   
}

.brown-shape-img img {
    height: auto;
    display: block;
    margin: 0;
}


.cell-pic {
    position: absolute;
    top: -15px;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 1;
   

}

.cell-pic img {
    max-width: 1350px;
    height: auto;
    display: block;

}
.create-account {
    text-align: center;
    padding-top: -50px;
    margin-top: -200px;


}

/* Styling for the signup page */

.create-account h1 {
    color: #372925;
    font-size: 80px;

}

.create-account p {
    color: #8B1A50;
    font-size: 35px;
}

.signup {
    text-align: center;
    padding: 40px;
    
    
}

.signup label {
    font-size: 35px;
    color: #543A31;
    
}

.signup input {
    width: 25%;
    padding: 10px;
    margin: 8px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 22px;
    
}

.signup button {
    width: 10%;
    padding-bottom: 6px;
    padding-top: 6px;
    margin: 20px;
    border-radius: 30px;
    border: 2px solid #8B1A50  ;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #8B1A50;

}

.signup p {
    font-size: 20px;
    padding: 8px;
   
}

.signup p a {
    color: #8B1A50;
    font-weight:500;
    text-decoration: none; 
    font-size: 18px;

}

/* Styling the product page */

nav {
    margin-top: -225px;
    padding-bottom: 50px;
    
    
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 90px;
    list-style: none;
    position: relative;
    z-index: 10;
}

nav ul li a {
    text-decoration: none;
    color: #543A31;
    font-size: 16px;
    font-weight: bold;
}

#cart-logo {
    position: absolute;
    right:  10px;
    top: -15px;
    width: 650px;
    

}

.banner {
    
    background-color: #8B1A50;
    width: 100%;
    padding: 8px 0;
    margin: 0px;
    text-align: center;
    
   
    
}

header p {
   
    text-align: center;
    color: #FFFDF6;
    font-style: italic;
    
}

.products {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.product-item {
   text-align: center;
   margin: -135px;
   padding-bottom: 30px;
   
    /*desciption*/
}

.product-item img {
    margin: 0;
    padding-top: 200px;
}

.products .product-item:nth-child(3) h3 {
    text-align: center;
    margin-left: 35px;
}

.product-item h3 {
    text-align: center;
    padding-top: 20px;
    font-style: italic;
    font-size: 18px;
    padding-bottom: 20px;
}

.products .product-item:nth-child(3) p {
    margin-left: 35px;
}

.product-item p {
    text-align: center;
    color: #8B1A50;
    padding-bottom: 15px;
}

.product-item a {
    text-decoration: none;
    font-weight: bold;
}

.products .product-item:nth-child(3) .shop-button {
    margin-left: 50px;

}
    


.shop-button {
    display: inline-block;
    text-align: center;
    width: 25%;
    padding-bottom: 6px;
    padding-top: 6px;
    margin: 20px;
    border-radius: 15px;
    border: 2px solid #543A31;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #543A31;
    cursor: pointer;
    
}

/* styling the casual weekeng page */

.casual-banner {
    background-color: #8B1A50;
    width: 100%;
    padding: 65px;
    text-align: center;
    
}

.casual-banner p {
    font-size: 25px;
    font-weight: bold;
    margin: -35px;
    text-align: center;
    color: #FFFDF6;
    font-style: italic;
   
    
}

.casual-weekend {
    display: flex;
    justify-content: center;
    margin: -35px;
    gap: 40px;
    padding-left: 300px;
    margin-right: 20px;

}

.casual-item img {
    width: 220px;
}

.cw-girl {

    position: absolute;
    top: 150px;
}

.cw-girl img {
    height: 575px;
    margin-left: 20px; 
}

.casual-item {
    text-align: center;
}

.casual-item h3 {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 15px;
    color: black;
    font-size: 16px;
}

.casual-item label {
   display: inline-block;
   font-weight: 500;
   font-size: 14px;
   margin-bottom: 15px;
 
}

.casual-item select {
    width: 75px ;
    margin-bottom: 15px;
    
}

.casual-item p {
    font-size: 14px;
    font-weight: bold;
}

.casual-item p button {
    color: #FFFDF6;
    border: #8B1A50;
    background-color: #8B1A50;
    width: 30%;
    padding-top: 6px;
    padding-bottom: 6px;
}



/* styling date night page*/

.date-night-banner {
    background-color:#8B1A50;
    width: 100%;
    padding: 65px;
    text-align: center;
}

.date-night-banner p {
    font-size: 25px;
    font-weight: bold;
    margin: -35px;
    text-align: center;
    color: #FFFDF6;
    font-style: italic;
}

.date-night {
    display: flex;
    justify-content: center;
    margin: -35px;
    gap: 40px;
    padding-left: 300px;
    margin-right: 20px;
}

.date-night img {
    width: 220px;
}

.date-girl {

    position: absolute;
    top: 150px;
}

.date-girl img {
    height: 575px;
    margin-left: 20px; 
}

.date-item {
    text-align: center;
}

.date-item h3 {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 15px;
    color: black;
    font-size: 16px;
}

.date-item label {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
}
 

.date-item select {
    width: 75px;
    margin-bottom: 15px;
     
}
 
.date-item p {
   font-size: 14px;
   font-weight: bold;
}
 
.date-item p button {
    color: #FFFDF6;
    border: #8B1A50;
    background-color: #8B1A50;
    width: 30%;
    padding-top: 6px;
    padding-bottom: 6px;
}










